<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOgCEan_Zo5bXcD6iB1iHLawIP_7Rln0o</string>
	<key>GCM_SENDER_ID</key>
	<string>545427152437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wechat</string>
	<key>PROJECT_ID</key>
	<string>flutter-wechat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-wechat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545427152437:ios:378c2134b4b15687ea5b7c</string>
</dict>
</plist>